{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content_header %}
<div class="logo">
    <span class="icon">
        <img
            style="display: inline-block; width: 100%; height: 100%; object-fit: cover;"
            src="{{ url_for('static', filename='images/logo.png') }}"
            alt>
    </span>
</div>
<h2>Welcome to Solar Ease</h2>
<p>Bringing Neighbors Together for Local Solar Empowerment</p>
{% endblock %}

{% block content %}
<!-- One -->
<section id="one" class="wrapper spotlight style1">
    <div class="inner">
        <a href="#" class="image"><img
                src="{{ url_for('static', filename='images/identifying-the-problem.webp') }}"
                alt></a>
        <div class="content">
            <h2 class="major">Identifying a problem</h2>
            <p class="justifier">Harnessing solar energy is a powerful step
                toward a sustainable future, offering a clean, renewable source
                of power that reduces our carbon footprint, mitigates climate
                change, and supports self-sufficient, resilient energy
                communities. However, the transition is hindered by a lack of
                real-time data, revenue channels, and financial resources.
                Decisions are often based on rough estimates, and excess PV
                energy is sold to the grid at low prices, making the model
                unsustainable.</p>
        </div>
    </div>
</section>
<!-- Two -->
<section id="two" class="wrapper alt spotlight style2">
    <div class="inner">
        <a href="#" class="image"><img
                src="{{ url_for('static', filename='images/our-solution.webp') }}"
                alt></a>
        <div class="content">
            <h2 class="major">Our solution</h2>
            <p class="justifier">We propose autonomous mini-grids to reduce
                dependence on utility
                providers. These mini-grids provide real-time data on energy
                production and consumption, financial tracking, and monthly
                projections, enabling efficient investment in PVs and strategic
                energy procurement. Equipped with sensors, smart meters, and IoT
                devices, this can connect 6-8 buildings. Trained on four years
                of
                energy bills and online weather data, the system offers data
                visualization and monthly projections.</p>
        </div>
    </div>
</section>
<!-- Four -->
<section id="four" class="wrapper alt style1">
    <div class="inner">
        <section class="features">
            <article>
                <a href="{{ url_for('main.power_mix') }}" class="image"><img
                        src="{{ url_for('static', filename='images/power-mix.webp') }}"
                        alt></a>
                <h3 class="major">Power Mix</h3>
                <p class="justifier">This website can calculate the power mix
                    for a home given the
                    start and end date of the period. The provided values are
                    the overall consumption, the PV generation and how much
                    energy has to be taken from the main grid, and how much can
                    be sold to the main grid. This website calculates the
                    investment needed and profit made for the given period and
                    provides an in-depth cost analysis of the generation and
                    main grid cost. </p>
                <a href="{{ url_for('main.power_mix') }}" class="special">Learn
                    more</a>
            </article>
            <article>
                <a href="{{ url_for('main.roof_calculator') }}"
                    class="image"><img
                        src="{{ url_for('static', filename='images/roof-calculator.webp') }}"
                        alt></a>
                <h3 class="major">Roof Calculator</h3>
                <p class="justifier">This website also has a feature called roof
                    calculator. The
                    user has to just enter his address and select the rooftop
                    and he will be provided with information on how big the
                    rooftop is, what position the solar panels have, and how
                    much energy can be generated from this rooftop. </p>
                <a href="{{ url_for('main.roof_calculator') }}"
                    class="special">Learn more</a>
            </article>
        </section>
    </div>
</section>
{% endblock %}

{% block content_footer %}
<h2 class="major">Our Team</h2>
<div class="box alt">
    <div class="features2 row gtr-uniform">
        <article class="col-4"><span class="image fit"><img
                    src="{{ url_for('static', filename='images/pic05.jpg') }}"
                    alt></span>
            <h3 class="major">Ivana Peneva</h3>
            <p>M.Sc. Information Systems</p>
            <a href="#"
                class="special">Contact</a>
        </article>
        <article class="col-4"><span class="image fit"><img
                    src="{{ url_for('static', filename='images/pic06.jpg') }}"
                    alt></span>
            <h3 class="major">Asad Khan</h3>
            <p>M.Sc Management and Technology</p>
            <a href="#"
                class="special">Contact</a>
        </article>
        <article class="col-4"><span class="image fit"><img
                    src="{{ url_for('static', filename='images/pic07.jpg') }}"
                    alt></span>
            <h3 class="major">Maqarios Saleh</h3>
            <p>M.Sc. Computer Science</p>
            <a href="#"
                class="special">Contact</a>
        </article>
    </div>
</div>
{% endblock %}

{% block scripts %}
<style>
    .justifier {
        text-align: justify;
    }
</style>
{% endblock %}